/* Product Grid Layout */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: calc(var(--spacing-unit) * 2);
    padding: calc(var(--spacing-unit) * 2) 0;
}

/* Product Items */
.product.type-product, .product-variation {
    list-style: none;
    background: var(--color-primary);
    border-radius: var(--border-radius);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

/* Product Links */
.woocommerce-LoopProduct-link,
.product-variation-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

/* Product Titles */
.woocommerce-loop-product__title {
    font-size: 1em;
    color: var(--baseball-primary);
    margin: 0.5em 0;
}

/* Product Pricing */
.price {
    color: var(--baseball-secondary);
}

/* Product Images */
.product img,
.product-variation img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
    background-color: var(--color-primary) !important;
    opacity: 0;
}

/* Product Cards */
a.product-variation-link.woocommerce-LoopProduct-link img {
    border: 3px solid var(--color-text);
}

a.product-variation-link.woocommerce-LoopProduct-link:hover img {
    border: 3px solid var(--color-highlight);
}

/* Hide unnecessary elements */
.product_meta,
.add_to_cart_button {
    display: none !important;
}

/* Responsive Grid */
@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}